<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD4ZtmU4k6jbaTZ0RwmxugkKXYNxwkdcdM</string>
	<key>GCM_SENDER_ID</key>
	<string>225748921499</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.app.faheem</string>
	<key>PROJECT_ID</key>
	<string>fahem-9ad2c</string>
	<key>STORAGE_BUCKET</key>
	<string>fahem-9ad2c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:225748921499:ios:bbf8d19d024aca376a2a3e</string>
</dict>
</plist>